/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Raleway);
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway;
}

#nav, .footer{
    background: #009688;
    padding: 0 5%;
}

#page_nav a, #sign_in a{
    line-height: 60px;
    color: #fff;
    padding: 0 20px 0 20px;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: background  ease-in 0.5s;
    -moz-transition: background  ease-in 0.5s;
    -o-transition: background  ease-in 0.5s;
    transition: background  ease-in 0.5s;
}

#page_nav a:hover, #sign_in a:hover{
    background: #00695C;
    -webkit-transition: background  ease-out 0.5s;
    -moz-transition: background  ease-out 0.5s;
    -o-transition: background  ease-out 0.5s;
    transition: background  ease-out 0.5s;
}

#page_nav{
    float: left;
}

#sign_in a{
    float: right;
}

#main_wrap{
    width: 90%;
    float: left;
    margin: 20px 5% 0 5%;
}

.clearfix:before, .clearfix:after {
    content: '.';
    display: block;
    width: 100%;
    height: 0;
    visibility: hidden;
    clear: both;

}

.container{
    padding: 0 5%;
}

.main-photo > img {
    max-width: 100%;
    height: auto;
}

.footer {
    height: 60px;
}